/* TODO: Design need to align characteristics for CalendarDay */
.uitkCalendarDay {
  --calendarDay-text-color: var(--uitk-text-primary-foreground);
  --calendarDay-background: var(--uitk-selectable-background);
  --calendarDay-background-hover: var(--uitk-selectable-background-hover);
  --calendarDay-text-color-hover: var(--uitk-selectable-foreground-hover);
  --calendarDay-outOfRange-text-color: var(--uitk-text-secondary-foreground-disabled);
  --calendarDay-blocked-text-color: var(--uitk-selectable-foreground);
  --calendarDay-blocked-cursor: var(--uitk-selectable-cursor-disabled);
  --calendarDay-blocked-icon-color: var(--uitk-status-error-foreground);
  --calendarDay-blocked-background: var(--calendarDay-background);
  --calendarDay-unselectable-text-color: var(--uitk-text-secondary-foreground-disabled);
  --calendarDay-unselectable-background: var(--calendarDay-background);
  --calendarDay-unselectable-cursor: var(--uitk-selectable-cursor-disabled);

  --calendarDay-selected-background: var(--uitk-selectable-background-selected);
  --calendarDay-selected-text-color: var(--uitk-selectable-foreground-selected);
  --calendarDay-selected-focused-outlineColor: var(--uitk-color-white);

  --calendarDay-selectedStart-background: var(--uitk-selectable-background-selected);
  --calendarDay-selectedStart-text-color: var(--uitk-selectable-foreground-selected);
  --calendarDay-selectedStart-focused-outlineColor: var(--uitk-color-white);

  --calendarDay-selectedEnd-background: var(--uitk-selectable-background-selected);
  --calendarDay-selectedEnd-text-color: var(--uitk-selectable-foreground-selected);
  --calendarDay-selectedEnd-focused-outlineColor: var(--uitk-color-white);

  --calendarDay-selectedSpan-background: var(--uitk-selectable-background-blurSelected);
  --calendarDay-selectedSpan-text-color: var(--uitk-selectable-foreground-blurSelected);

  --calendarDay-hoveredSpan-background: var(--uitk-selectable-background-hover);
  --calendarDay-hoveredSpan-text-color: var(--uitk-selectable-foreground);

  --calendarDay-hoveredOffset-background: var(--uitk-selectable-background-hover);
  --calendarDay-hoveredOffset-text-color: var(--uitk-selectable-foreground);

  --calendarDay-currentDay-borderColor: var(--uitk-selectable-foreground);

  /* Focus */
  --calendarDay-focused-outline: var(--uitk-focused-outline);
  --calendarDay-size: var(--uitk-size-base);
  --calendarDay-fontSize: var(--uitk-text-fontSize);
}

.uitkCalendarDay {
  width: var(--calendarDay-size);
  height: var(--calendarDay-size);
  color: var(--calendarDay-text-color);
  background-color: var(--calendarDay-background);
  font-size: var(--calendarDay-fontSize);
  border: 0;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uitkCalendarDay:focus-visible {
  outline: var(--calendarDay-focused-outline);
  outline-offset: calc(0px - var(--uitk-focused-outlineWidth));
}

.uitkCalendarDay-outOfRange {
  color: var(--calendarDay-outOfRange-text-color);
}

.uitkCalendarDay:hover {
  background: var(--calendarDay-background-hover);
  color: var(--calendarDay-text-color-hover);
}

.uitkCalendarDay-unselectable.uitkMediumEmphasis,
.uitkCalendarDay-unselectable.uitkMediumEmphasis:hover {
  color: var(--calendarDay-blocked-text-color);
  cursor: var(--calendarDay-blocked-cursor);
  background: var(--calendarDay-blocked-background);
}

.uitkCalendarDay-today {
  border: 1px solid var(--calendarDay-currentDay-borderColor);
}

.uitkCalendarDay-selectedSpan {
  background: var(--calendarDay-selectedSpan-background);
  color: var(--calendarDay-selectedSpan-text-color);
}

.uitkCalendarDay-hoveredSpan,
.uitkCalendarDay-hoveredSpan:hover {
  background: var(--calendarDay-hoveredSpan-background);
  color: var(--calendarDay-hoveredSpan-text-color);
}

.uitkCalendarDay-hoveredOffset,
.uitkCalendarDay-hoveredOffset:hover {
  background: var(--calendarDay-hoveredOffset-background);
  color: var(--calendarDay-hoveredOffset-text-color);
}

.uitkCalendarDay-selected,
.uitkCalendarDay-selected:hover {
  background: var(--calendarDay-selected-background);
  color: var(--calendarDay-selected-text-color);
}

.uitkCalendarDay-selectedStart,
.uitkCalendarDay-selectedStart:hover {
  background: var(--calendarDay-selectedStart-background);
  color: var(--calendarDay-selectedStart-text-color);
}

.uitkCalendarDay-selectedEnd,
.uitkCalendarDay-selectedEnd:hover {
  background: var(--calendarDay-selectedEnd-background);
  color: var(--calendarDay-selectedEnd-text-color);
}

.uitkCalendarDay-selected:focus-visible {
  outline-color: var(--calendarDay-selected-focused-outlineColor);
}

.uitkCalendarDay-selectedStart:focus-visible {
  outline-color: var(--calendarDay-selectedStart-focused-outlineColor);
}

.uitkCalendarDay-selectedEnd:focus-visible {
  outline-color: var(--calendarDay-selectedEnd-focused-outlineColor);
}

.uitkCalendarDay-unselectable.uitkLowEmphasis,
.uitkCalendarDay-unselectable.uitkLowEmphasis:hover {
  color: var(--calendarDay-unselectable-text-color);
  background: var(--calendarDay-unselectable-background);
  cursor: var(--calendarDay-unselectable-cursor);
  text-decoration: line-through;
}

.uitk-density-high .uitkCalendarDay-blockedIcon {
  --calendarDay-blocked-icon-size: 14px;
}

.uitk-density-medium .uitkCalendarDay-blockedIcon {
  --calendarDay-blocked-icon-size: 18px;
}

.uitk-density-low .uitkCalendarDay-blockedIcon {
  --calendarDay-blocked-icon-size: 24px;
}

.uitk-density-touch .uitkCalendarDay-blockedIcon {
  --calendarDay-blocked-icon-size: 28px;
}

.uitkCalendarDay-blockedIcon {
  fill: var(--calendarDay-blocked-icon-color);
  position: absolute;
  --icon-size: var(--calendarDay-blocked-icon-size);
  pointer-events: none;
  line-height: 1.29;
}

.uitkCalendarDay-hidden {
  visibility: hidden;
}
